:root {
	color-scheme: light dark;
}

<<<<<<< HEAD
* {
	font-family: "Poppins", sans-serif;
	transition: all 0.1s ease-in-out;
}

html {
	scroll-behavior: smooth;
	width: 100%;
}

body,
header {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	margin: 0;
	width: 100%;
}

header {
	background: url("HeaderBG.png") no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100vh;
	/* overflow: hidden; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.95em 0 0 0;
}

nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
	position: sticky;
	background: none;
}

nav p {
	margin: 0 0.5em;
	font-size: 1.5rem;
	text-transform: uppercase;
}

nav p:first-of-type {
	font-weight: 600;
}

nav p:hover {
	cursor: pointer;
}

header .title {
	margin: 0 0 2.2em 0.7em;
}

header .title a {
	display: flex;
	flex-wrap: wrap;
	align-items: end;
	text-decoration: none;
	margin: 0 0 1em 0;
	color: #fff;
}

header .title a img {
	width: 5em;
}

header .title a p {
	width: auto;
	font-size: 3rem;
	line-height: 0.75em;
	margin: 0 0 0.15em 0.3em;
	font-weight: 300;
	max-width: 0%;
	white-space: nowrap;
	overflow: hidden;
	transition: max-width 0.3s linear;
}

header .title a img:hover {
	transition: all 0.2s ease-in-out;
	opacity: 0.5;
}

header .title a img:hover + p {
	max-width: 100%;
	color: #fff;
}

header .title h1 {
	font-weight: 300;
	font-size: 4.5rem;
	line-height: 0.75em;
	overflow: hidden;
	text-wrap: wrap;
	word-break: break-word;
	margin: 0;
}

input {
	font-size: 1.2rem;
	padding: 0.3em 0.75em;
	border: 1.6px solid rgb(45, 45, 45);
	border-radius: 0.3em;
	width: 100%;
	margin-bottom: 0.5em;
	background-color: transparent;
	box-shadow: 0 0 1em 0 rgba(31, 31, 31, 0.5);
}

.filter {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	width: 95%;
	margin: 1em 0 0 0;
}

.filter .filtername {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	background: #222;
	color: white;
	transition: 0.4s;
	font-size: 1.2rem;
	padding: 0.5em 1em;
	border: none;
	text-align: center;
	border-radius: 5em;
	margin: 0;
	margin-bottom: 0.5em;
	width: 75px;
}

.filter select:hover {
	cursor: pointer;
	opacity: 0.6;
}

.filter input:focus-visible,
.filter select:focus-visible {
	outline: none;
}

.select {
	border-radius: 0.5em;
	display: inline;
}

select,
::picker(select) {
	appearance: base-select;
}

select {
	flex: 1;
}

select {
	border: 0.25em solid #ddd;
	background: #222;
	color: white;
	transition: 0.2s;
	font-size: 1.2rem;
	padding: 0.3em 0.8em;
	border: none;
	text-align: center;
	border-radius: 0.3em;
	margin-bottom: 0.5em;
}

select:hover,
select:focus {
	background: #1f1f1f;
	color: white;
}
select::picker-icon {
	color: white;
	content: "+";
}
select:open::picker-icon {
	content: "-";
}
::picker(select) {
	border: none;
}
option {
	display: flex;
	justify-content: flex-start;
	gap: 2.5em;
	border: 2px solid #1b1b1b;
	background: #0f0f0f;
	color: white;
	padding: 0.3em 0.5em;
	transition: 0.2s;
}
option:first-of-type {
	border-radius: 0.3em 0.3em 0 0;
}

option:last-of-type {
	border-radius: 0 0 0.3em 0.3em;
}

option:not(option:last-of-type) {
	border-bottom: none;
}

option:hover,
option:focus {
	background-color: #1b1b1b;
}
option .icon {
	font-size: 1.6rem;
	text-box: trim-both cap alphabetic;
}
selectedcontent .icon {
	display: none;
}
option::checkmark {
	order: 1;
	margin-left: auto;
	content: "";
}
::picker(select) {
	opacity: 0;
	transition: all 0.2s allow-discrete;
	background: none;
}
::picker(select):popover-open {
	opacity: 1;
	background: none;
}
@starting-style {
	::picker(select):popover-open {
		opacity: 0;
	}
}
::picker(select) {
	top: calc(anchor(bottom) + 5px);
	left: anchor(0%);
	box-shadow: 0 0 1.5em 0 #1f1f1f;
}

.buzzes {
	width: 100%;
	margin-bottom: 0;
	background: #171717;
}

.buzzes h1 {
	text-transform: uppercase;
	font-weight: 600;
}

.inner {
	min-height: 12.5em;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: end;
	margin: 0em;
	padding: 0 1em 1.2em 1.5em;
	box-shadow: inset 0 0 20em 2em #000000;
	background-size: cover;
	background-position: center;
	color: #ffffff;
	border-top: 0.2em solid #1b1b1b;
	overflow: hidden;
	position: relative;
}

.inner:first-of-type {
	margin-top: 0;
	border-top: none;
}

.inner:last-of-type {
	margin-bottom: 0;
}

.inner:hover {
	cursor: pointer;
	opacity: 0.5;
}

.inner h1 {
	line-height: 0.8em;
	margin-bottom: 0;
	font-size: 3rem;
	overflow-wrap: break-word;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	overflow: hidden;
}

.inner p {
	margin: 0 0 0 0.1em;
	line-height: 1.3em;
	opacity: 0.9;
}

.inner .category {
	text-transform: uppercase;
	font-weight: 600;
}

.inner .ratings {
	position: absolute;
	top: 1.5em;
	margin-bottom: 0.6em;
}

.popup {
	display: block; /* Hidden by default */
	position: fixed;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000000b3;
	z-index: 90;
}

.popup span {
	margin: 0.3em 1em 0.5em 1em;
}

.popup-content .heading {
	margin: 0;
	display: flex;
	padding: 1em 0.8em 0.8em 1em;
	align-items: center;
	justify-content: flex-start;
}

.popup-content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	background: black;
	color: #ededed;
	padding: 0;
	margin: 12em auto auto auto;
	width: 40%;
	min-width: 20em;
	height: auto;
	min-height: 200px;
	border-radius: 1em;
	text-align: left;
	overflow: hidden;
	box-shadow: 0 0 5em 0 #6e6e6e34;
	z-index: 99;
}

.popup-content p {
	margin: 0.3em 0;
	font-size: 1rem;
	line-height: 1em;
	flex-wrap: wrap;
}

.popup-content h1 {
	text-transform: uppercase;
	line-height: 0.75em;
	font-size: 1.3rem;
	font-weight: 600;
	margin: 0.2em 0 0 0;
	text-wrap: wrap;
}

.popup-content .image {
	/* width: 100%; */
	height: 12em;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.popup-content .popup-close {
	font-size: 1.1rem;
	font-weight: 600;
	margin: 0;
	color: #e4e4e4;
	padding: 0.5em;
	border: 0.1em solid #e4e4e4;
	border-radius: 30em;
	width: 15px;
	height: 15px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.popup-close:hover {
	background-color: #e4e4e4;
	color: #171717;
	border: 0.1em solid #141414;
	box-shadow: 0 0 1em 0 #6d6d6d;
	cursor: pointer;
}

.popup-content .location {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
	color: #e4e4e4;
}

.popup-content .ratings {
	color: #e4e4e4;
}

.description {
	line-height: 1.1;
	color: #e4e4e4;
}

.popup-content .titles {
	margin: 0 0 0 1em;
}

footer {
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-top: 0;
	background-color: #171717;
}

footer .footer {
	margin: 10em 1.2em 1em 1.2em;
	text-transform: uppercase;
	line-height: 1em;
	display: flex;
	justify-content: space-between;
	width: 96.5%;
	flex-wrap: wrap;
}

footer .footer-text {
	font-weight: 600;
	font-size: 38vh;
	text-align: left;
	margin: 0 0 20px 0;
	padding: 0;
	text-transform: uppercase;
	text-wrap: wrap;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	line-height: 0.75em;
}

@media (max-width: 1000px) {
	footer .footer {
		flex-direction: column;
	}
=======
*{
    font-family: 'Poppins', sans-serif;
    transition: all .1s ease-in-out;
}

html {
    scroll-behavior: smooth;
    width: 100%;
}

body, header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
}

header{
    background: url("https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    box-shadow: inset 0 0 20em 2em light-dark(rgba(255, 255, 255, 0), black);
}

.front-page{
    display: flex;
    flex-direction: column;
    background-color: light-dark(rgba(255, 255, 255, 0.718),rgba(0, 0, 0, 0.5));
    padding: 1em;
    border-radius: .5em;
}

header img{
    max-width: 100%;
    object-fit: cover;
}

h1{
    font-weight: 600;
    margin: 0;
    font-size: 3.3rem;
    text-transform: uppercase;
    line-height: 1;
    text-wrap: wrap;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    
}

p{
  text-wrap: wrap;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;}

header p{
    margin: 0;
    font-size: 1.5rem;
    line-height: 1;
}

header a{
    width: 8em;
    margin: .5em 0 0 0;
    background: light-dark(black, white);
    color: light-dark(white, black);
    border-radius: .5em;
    padding: .5em 1.3em;
    font-weight: 500;
    font-size: .85em;
    text-transform: uppercase;
    text-decoration: none;
    transition: text-decoration 2s ease-in;
}

header a:hover{
    text-decoration: line-through .1em;
    background-color: light-dark(#222, rgb(236, 236, 236));
}

input{
    font-size: 1.2rem;
    padding: .5em 1em;
    border: solid .1em light-dark(black, white);
    border-radius: 5em;
    width: 100%;
    margin-bottom: .5em;
}

.filter{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    margin: 1em 0 0 0;
}

.filter .filtername{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: light-dark(#f0f0f0, #222);
    color:light-dark(black, white);
    transition: 0.4s;
    font-size: 1.2rem;
    padding: .5em 1em;
    border: none;
    text-align: center;
    border-radius: 5em;
    margin: 0;
    margin-bottom: .5em;
    width: 75px;
}

.filter select:hover{
    cursor: pointer;
    opacity: .6;
}

.filter input:focus-visible, .filter select:focus-visible{
    outline: none;
}

.select {
    border-radius: 5em;
    display: inline;
}

select,
::picker(select) {
  appearance: base-select;
}

select {
    flex: 1;
  }
  select {
    border: 0.25em solid light-dark(#222, #ddd);
    background: light-dark(#f0f0f0, #222);
    color:light-dark(black, white);
    transition: 0.4s;
    font-size: 1.2rem;
    padding: .5em 1em;
    border: none;
    text-align: center;
    border-radius: 5em;
    margin-bottom: .5em;
  }
  
  select:hover,
  select:focus {
    background: light-dark(white, black);
    color: light-dark(black, white);
  }
  select::picker-icon {
    color: light-dark(black, white);
    content: '+';
  }
  select:open::picker-icon {
    content: '-';
  }
  ::picker(select) {
    border: none;
  }
  option {
    display: flex;
    justify-content: flex-start;
    gap: 2.5em;
  
    border: 2px solid light-dark(#ddd ,#222);
    background: light-dark(white, black);
    color: light-dark(black, white);
    padding: .5em;
    transition: 0.2s;
  }
  option:first-of-type {
    border-radius: 1em 1em 0 0;
  }
  
  option:last-of-type {
    border-radius: 0 0 1em 1em;
  }
  
  option:not(option:last-of-type) {
    border-bottom: none;
  }
  
  option:hover,
  option:focus {
    background-color:light-dark(#ebebeb,#1b1b1b);
  }
  option .icon {
    font-size: 1.6rem;
    text-box: trim-both cap alphabetic;
  }
  selectedcontent .icon {
    display: none;
    }
    option::checkmark {
      order: 1;
      margin-left: auto;
      content: "";
    }
  ::picker(select) {
    opacity: 0;
    transition: all 0.2s allow-discrete;
    background: none;
  }
  ::picker(select):popover-open {
    opacity: 1;
    background: none;
  }
  @starting-style {
    ::picker(select):popover-open {
      opacity: 0;
    }
  }
  ::picker(select) {
    top: calc(anchor(bottom) + 1px);
    left: anchor(10%);
  }

.buzzes{
    width: 100%;
    margin-bottom: 1em;
    background: #171717;
}

.inner{
    min-height: 15em;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    margin: 0em;
    padding: 1.2em 1em 1.2em 1.5em;
    box-shadow: inset 0 0 20em 2em black;
    background-size: cover;
    background-position: center;
    color: white;
    border-top: .2em solid light-dark(#ebebeb,#1b1b1b);
    overflow: hidden;
}

.inner:first-of-type{
  margin-top: 0;
  border-top: none;
}

.inner:last-of-type{
  margin-bottom: 0;
}

.inner:hover{
    cursor: pointer;
    opacity: .5;
}

.inner h1{
    line-height: .8em;
    margin-bottom: .2em;
    font-size: 3rem;
    overflow-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    
}

.inner p{
    margin: 0;
    line-height: 1.3em;
    opacity: .9;
}

.inner .category{
    text-transform: uppercase;
    font-weight: 600;
}

.inner .ratings{
    margin-bottom: .6em;
}


.popup {
    display: block; /* Hidden by default */
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 90;
}

.popup span{
    margin: 0.3em 1em .5em 1em;
}

.popup-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    /* box-sizing: border-box; */
    background: light-dark(white, black);
    color: light-dark(black,rgb(237, 237, 237));
    padding: 0;
    margin: 12em auto auto auto;
    width: 40%;
    min-width: 20em;
    height: auto;
    min-height: 200px;
    border-radius: 1em;
    text-align: left;
    overflow: hidden;
    z-index: 99;
}

.popup-content p{
    margin: 0.3em 0;
    font-size: 1rem;
    flex-wrap: wrap;
}

.popup-content h1{
    font-size: 1.3rem;
    margin: .1em 0;
}

.popup-content img{
    width: 100%;
    height: 12em;
    object-fit: cover;
    filter: grayscale(.8);
}

.popup-content .popup-close{
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0;
    background-color: light-dark(#171717,#e4e4e4);
    color: light-dark(white, black);
    padding: .5em;
    border-radius: 30em;
    width: 15px;
    height: 15px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.popup-close:hover {
    cursor: pointer;
    opacity: .8;
}

.popup-content .location{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    color: light-dark(#484848,#e4e4e4);
}

.popup-content .ratings{
    color: light-dark(#484848,#e4e4e4);
}

.description{
    line-height: 1.1;
    color: light-dark(#484848,#e4e4e4);
}

.popup-content .heading {
  margin: 0;
  display: flex;
  padding: 1em .8em .8em 1em;
  align-items: start;
  justify-content: flex-start;
}

.popup-content .titles {
  margin: 0 0 0 1em;
>>>>>>> 6b43fa0d67ec860ed3a0aebd177a2a5c7d41188e
}
